body {
  font-family: sans-serif; }

.objects {
  padding-top: 5%; }

.back__btn {
  display: inline-block;
  position: fixed;
  right: 1%;
  top: 1%;
  background-color: transparent;
  background-position: right center;
  background-size: 0% 100%;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  cursor: pointer; }
  .back__btn:hover {
    background-color: #cc2a3a;
    background-size: 100% 100%; }
    .back__btn:hover .backBtn {
      color: #fff; }

.backBtn {
  line-height: 44px;
  padding: 0 15px;
  color: #cc2a3a;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  text-transform: uppercase;
  text-decoration: none; }

.objectSlider__item {
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  background-color: #cc2a3a;
  position: relative; }

.slide__head {
  position: absolute;
  bottom: 10%;
  left: -15%;
  background-color: #cc2a3a;
  padding-left: 5%;
  padding-right: 5%;
  overflow: hidden;
  cursor: pointer;
  clip: rect(100vh, 100vw, 100vh, 0);
  -webkit-transition: clip 0.75s cubic-bezier(0.86, 0, 0.07, 1) 0.5s;
  -o-transition: clip 0.75s cubic-bezier(0.86, 0, 0.07, 1) 0.5s;
  transition: clip 0.75s cubic-bezier(0.86, 0, 0.07, 1) 0.5s; }

.slideHead {
  color: #fff;
  text-transform: uppercase;
  font-size: 32px;
  -webkit-transform: translateY(160%);
  -ms-transform: translateY(160%);
  transform: translateY(160%);
  -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.86, 0, 0.07, 1) 0.5s;
  transition: -webkit-transform 0.75s cubic-bezier(0.86, 0, 0.07, 1) 0.5s;
  -o-transition: transform 0.75s cubic-bezier(0.86, 0, 0.07, 1) 0.5s;
  transition: transform 0.75s cubic-bezier(0.86, 0, 0.07, 1) 0.5s;
  transition: transform 0.75s cubic-bezier(0.86, 0, 0.07, 1) 0.5s, -webkit-transform 0.75s cubic-bezier(0.86, 0, 0.07, 1) 0.5s; }

.owl-item.active .objectSlider__item .slide__head {
  clip: rect(0, 100vw, 100vh, 0);
  /*transition: clip 0.5s $timing-one 0.75s;*/ }

.owl-item.active .objectSlider__item .slideHead {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  /*transition: clip 0.5s $timing-one 0.75s;*/ }

.slide__img {
  width: 100%;
  height: auto; }
