@import "mixins";
@mixin padding-hor($pad:auto) {
	padding-right: $pad;
	padding-left: $pad;
}
@mixin padding-ver($pad:0) {
	padding-right: $pad;
	padding-left: $pad;
}
@mixin boxShadow() {
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

$red: #cc2a3a;

$timing-one: cubic-bezier(0.86, 0, 0.07, 1);
$timing-two: cubic-bezier(0.23, 1, 0.32, 1);

body {
	font-family: sans-serif;
}
.objects {
	padding-top: 5%;
}
.back__btn {
	display: inline-block;
	position: fixed;
	right: 1%;
	top: 1%;
	background-color: transparent;
	background-position: right center;
	background-size: 0% 100%;
	transition: all 1s ease-in-out;
	cursor: pointer;
	&:hover{
		background-color: $red;
		background-size: 100% 100%;
		.backBtn {
			color: #fff;
		}
	}
}
.backBtn {
	line-height: 44px;
	padding: 0 15px;
	color: $red;
	transition: all .5s ease-in-out;
	text-transform: uppercase;
	text-decoration: none;
}
.objectSlider__item {
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
	background-color: $red;
	position: relative;
}

.slide__head {
	position: absolute;
	bottom: 10%;
	left: -15%;
	background-color: $red;
	padding-left: 5%;
	padding-right: 5%;
	overflow: hidden;
	cursor: pointer;
	clip: rect(100vh, 100vw, 100vh, 0);
	transition: clip 0.75s $timing-one 0.5s;
}
.slideHead {
	color : #fff;
	text-transform: uppercase;
	font-size: 32px;
	transform: translateY(160%);
	transition: transform 0.75s $timing-one 0.5s;
}
.owl-item.active .objectSlider__item{
	.slide__head {
		clip: rect(0, 100vw, 100vh, 0);
		/*transition: clip 0.5s $timing-one 0.75s;*/
	}
	.slideHead {
		transform: translateY(0);
		/*transition: clip 0.5s $timing-one 0.75s;*/
	}
}
.slide__img {
	width: 100%;
	height: auto;
}