@import "mixins";
@mixin padding-hor($pad:auto) {
	padding-right: $pad;
	padding-left: $pad;
}
@mixin padding-ver($pad:0) {
	padding-right: $pad;
	padding-left: $pad;
}
@mixin boxShadow() {
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

$red: #cc2a3a;

$timing-one: cubic-bezier(0.86, 0, 0.07, 1);
$timing-two: cubic-bezier(0.23, 1, 0.32, 1);

body {
	font-family: sans-serif;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.objects {
	padding-top: 5%;
	position: relative;
}
.back__btn {
	position: fixed;
	right: 4%;
	top: 4%;
	line-height: 44px;
	transform: translateZ(1px);
	overflow: hidden;
	padding: 12px 0;
	z-index: 103;
	.backBtn {
		display: inline-block;
		transform: translateX(100%);
		transition: transform 0.25s $timing-one 0s;
		padding: 0 1em;
		color: $red;
		text-transform: uppercase;
		text-decoration: none;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $red;
			transform: translateX(100%) translateZ(-1px);
			transition: transform 0.1s $timing-one 0s;
			z-index: -1;
		}
		&:hover {
			color: #fff;
			&:before {
				transform: translateX(0) translateZ(-1px);
			}
		}
	}
	&.opened {
		.backBtn {
			transform: translateX(0);
			transition: transform 0.25s $timing-one 1.5s;
		}
	}
}

.objectSlider__item {
	margin-bottom: 20px;
	margin-top: 20px;
	/*@include boxShadow();*/
}
.slide__cover {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
}
.slide__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index: 99;
}
.slide__head {
	position: absolute;
	top: 60%;
	left: -10%;
	background-color: $red;
	text-decoration: none;
	padding-left: 5%;
	padding-right: 5%;
	overflow: hidden;
	cursor: pointer;
	clip: rect(100vh, 100vw, 100vh, 0);
	transition: clip 0.75s $timing-one 0.3s;
	z-index: 100;
}
.slideHead {
	color : #fff;
	text-transform: uppercase;
	font-size: 32px;
	transform: translateY(160%);
	transition: transform 0.75s $timing-one 0.3s;
}
.owl-item.active .objectSlider__item{
	.slide__head {
		clip: rect(0, 100vw, 100vh, 0);
		/*transition: clip 0.5s $timing-one 0.75s;*/
	}
	.slideHead {
		transform: translateY(0);
		/*transition: clip 0.5s $timing-one 0.75s;*/
	}
}
.slide__article {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: #5a5a5a;
	background: #fff;
	z-index: 99999;
	opacity: 0;
	transition: opacity 0.75s ease-in;
	display: none;
	pointer-events: none;
	@include boxShadow();

}
.slide__article:target {
	display: block;
	pointer-events: auto;
	animation: rollOut 0.75s $timing-one 0.8s forwards;
	overflow-y: auto;
	z-index: 101;
	/*opacity: 1;*/
}

.slideArt__head {
	padding-left: 20%;
	padding-top: 5%;
	padding-bottom: 2%;
	text-transform: uppercase;
	font-size: 32px;
}
.slide__txt {
	width: 50%;
	padding-left: 20%;
	padding-bottom: 1%;
}
.slide__img {
	width: 90%;
	height: auto;
	padding-left: 5%;
	padding-right: 5%;
}
.slider__nav {
	text-align: right;
	padding-right: 3%;
}
.slideNav__btn {
	line-height: 44px;
	text-decoration: none;
	color: $red;
	.fa {
		width: 44px;
		font-size: 40px;
	}
}
.objectSlider__item.opened {
	
	.slide__bg {
		animation: rollIn 0.75s $timing-one 0s forwards;
	}
	.slide__head {		
		animation: colapse 0.75s $timing-one 0s forwards;
	}
	
}



/*---------- Animations ----------*/
@keyframes rollIn {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.5);
	}
}
@keyframes rollOut {
	from {
		opacity: 0;
		transform: scale(0.5);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes colapse {
	from {
		clip: rect(0, 100vw, 100vh, 0);
	}
	to {
		clip: rect(0, 0, 100vh, 0);
	}
}
@keyframes expand {
	from {		
		width: 100%;
		height: 100%;
	}
	to {		
		width: 100vh;
		height: auto;
	}
}