@import "mixins";
@mixin padding-hor($pad:auto) {
	padding-right: $pad;
	padding-left: $pad;
}
@mixin padding-ver($pad:0) {
	padding-right: $pad;
	padding-left: $pad;
}
@mixin boxShadow() {
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

$red: #cc2a3a;

$timing-one: cubic-bezier(0.86, 0, 0.07, 1);
$timing-two: cubic-bezier(0.23, 1, 0.32, 1);

body {
	font-family: sans-serif;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.objects {
	padding-top: 5%;
	position: relative;
}
.back__btn {
	display: inline-block;
	position: fixed;
	right: 1%;
	top: 1%;
	background-color: transparent;
	background-position: right center;
	background-size: 0% 100%;
	transition: all 1s ease-in-out;
	cursor: pointer;
	visibility: hidden;
	&:hover{
		background-color: $red;
		background-size: 100% 100%;
		.backBtn {
			color: #fff;
		}
	}
}
.backBtn {
	line-height: 44px;
	padding: 0 15px;
	color: $red;
	transition: all .5s ease-in-out;
	text-transform: uppercase;
	text-decoration: none;
}
.objectSlider__item {
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
	position: relative;
	margin-bottom: 20px;
	@include boxShadow();
}
.slide__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index: 99;
}
.slide__head {
	position: absolute;
	top: 60%;
	left: -10%;
	background-color: $red;
	padding-left: 5%;
	padding-right: 5%;
	overflow: hidden;
	cursor: pointer;
	clip: rect(100vh, 100vw, 100vh, 0);
	transition: clip 0.75s $timing-one 0.3s;
	z-index: 100;
}
.slideHead {
	color : #fff;
	text-transform: uppercase;
	font-size: 32px;
	transform: translateY(160%);
	transition: transform 0.75s $timing-one 0.3s;
}
.owl-item.active .objectSlider__item{
	.slide__head {
		clip: rect(0, 100vw, 100vh, 0);
		/*transition: clip 0.5s $timing-one 0.75s;*/
	}
	.slideHead {
		transform: translateY(0);
		/*transition: clip 0.5s $timing-one 0.75s;*/
	}
}
.slide__article {
	position: absolute;
	color: #5a5a5a;
	width: 100%;
	height: 100%;
	opacity: 0;
	@include boxShadow();
}
.slideArt__head {
	padding-left: 5%;
	padding-right: 5%;
	text-transform: uppercase;
	font-size: 32px;
}
.slide__img {
	width: 100%;
	height: auto;
}
.slider__nav {
	text-align: right;
	padding-right: 3%;
}
.slideNav__btn {
	line-height: 44px;
	text-decoration: none;
	color: $red;
	.fa {
		width: 44px;
		font-size: 40px;
	}
}
.objectSlider__item.opened {
	.slide__bg {
		animation: rollUp 0.75s $timing-one 0s forwards;
	}
	.slide__head {		
		animation: colapse 0.75s $timing-one 0s forwards;
	}
	.slideHead {
		color : #5a5a5a;
	}
	.slide__article {
		opacity: 1;
		/*animation: expand 0.75s $timing-one 0.25s forwards;*/
	}
}



/*---------- Animations ----------*/
@keyframes rollUp {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.5);
	}
}
@keyframes colapse {
	from {
		clip: rect(0, 100vw, 100vh, 0);
	}
	to {
		clip: rect(0, 0, 100vh, 0);
	}
}
@keyframes expand {
	from {		
		width: 100%;
		height: 100%;
	}
	to {		
		width: 100vh;
		height: auto;
	}
}